* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    border: 2px solid red;
}

.books-grid {
    border: 2px solid brown;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
    background-color: antiquewhite;
}

.book {
    border: 2px solid red;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 1.2rem;
}

.row {
    display: flex;
    gap: 10px;
}

.book .row:not(:last-child) {
    border-bottom: 1px solid rgb(194, 121, 121);
    padding-bottom: 5px;
}